{% extends 'blog_base.html' %}
{% load static %}
{% load blog_tags %}

{% block news %}
    <div class="col-lg-9">

                        {% for news_item in page_obj %}
                            <article class="entry entry-list">
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        <figure class="entry-media">
                                            <a href="{% url 'single' news_item.id %}">
                                                <img src="{{news_item.image.url}}" alt="image desc">
                                            </a>
                                        </figure><!-- End .entry-media -->
                                    </div><!-- End .col-md-5 -->
                                    <div class="col-md-7">
                                <div class="entry-body">
                                    <div class="entry-meta">
                                        <a href="{% url 'single' news_item.id %}">{{news_item.date|date:"N d, o"}}</a>
                                        <span class="meta-separator">|</span>
                                        <a href="{% url 'single' news_item.id %}">{% get_comment_count_by_news news_item.id %} Comments</a>
                                    </div><!-- End .entry-meta -->

                                    <h2 class="entry-title">
                                        <a href="{% url 'single' news_item.id %}">{{news_item.title}}</a>
                                    </h2><!-- End .entry-title -->

                                    <div class="entry-cats">
                                        {% if 1 < news_item.tag.all|length %}
                                            {% for tag in news_item.tag.all %}
                                                {% if forloop.last %}<a href="{% url 'tag' tag.title %}">{{tag}}</a>{% else%}<a href="{% url 'tag' tag.title %}">{{tag}}</a>,{% endif %}

                                             {% endfor %}
                                        {% else %}
                                            <a href="{% url 'tag' news_item.tag %}">{{news_item.tag.all|first}}</a>
                                        {% endif %}
                                    </div><!-- End .entry-cats -->

                                    <div class="entry-content">
                                        {% autoescape off %}
                                        <p>{{news_item.text|truncatewords:20}}...</p>
                                        {% endautoescape %}
                                        <a href="{% url 'single' news_item.id %}" class="read-more">Continue Reading</a>

                                    </div><!-- End .entry-content -->
                                </div><!-- End .entry-body -->
                            </div><!-- End .col-md-7 -->
                                </div><!-- End .row -->
                            </article>
                        {% endfor %}

                        <nav aria-label="Page navigation ">
                            <ul class="pagination d-flex align-items-center justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link page-link-prev" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                            <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                        </a>
                                     </li>
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                                {% endif %}
                                {% if page_obj.has_next or page_obj.has_previous %}
                                <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                                {% endif %}
                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                                    <li class="page-item">
                                        <a class="page-link page-link-next" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                            Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>
                        </nav>
                    </div><!-- End .col-lg-9 -->
{% endblock news %}
