{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="main">

        <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url({% static 'assets/images/backgrounds/login-bg.jpg' %})">
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							    <li class="nav-item">
							        <a class="nav-link active" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="false">Password reset</a>
							    </li>
							</ul>
							<div class="tab-content">
							    <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
							    	<form method="post">
											{% csrf_token %}
											{{ set_password_form.non_field_errors }}
											{% if messages %}
												<ul class="messages">
													{% for message in messages %}
													<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
													{% endfor %}
												</ul>
											{% endif %}

											<div class="form-group">
											{% for field in form %}
													{{ field.label_tag }}
													{{ field }}
													{% if field.errors %}
														<small>{{ field.errors|striptags  }}</small>
													{% endif %}
											{% endfor %}
											 </div>


                                            <div class="form-footer">
                                                <button type="submit" class="btn btn-outline-primary-2">
                                                    <span>SAVE</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </button>
                                            </div><!-- End .form-footer -->
			                			</form>




							    </div><!-- .End .tab-pane -->


							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
    </main>
{% endblock content %}